* {
    padding: 0;
    margin: 0;
}

.hidden {
    visibility: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#header {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#0074D9;
}

#header-content {
    text-align: center;
}

#controls {
    background: white;
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

#colors {
    width: 50%;
    height: 70%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

#content {
    background: #282828;
}

h1 {
    color: white;
    font-size: 50px;
}

h3 {
    color: white;
    font-size: 35px;
}

p {
    font-size: 12px;
    color: black;
    font-weight: 700;
}

button {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: none;
    height: 100%;
    display: inline-block;
}

.button-active {
    color: white;
    background: #0074D9;
}

.button-inactive {
    color: #0074D9;
    background: white;
}

.block {
    border-radius: 30px;
}